
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vmin;
  margin: 0;
  background-color: aliceblue;
  >main {
    section {
      max-width: 100%;
    }

    >section {
      >canvas {
        margin-bottom: 10vmin;
      }
      >section {
        >img {
          width: 100%;
        }
      }
    }
  }
}