
.image-selection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  > figure {
    margin: 0;
    padding: 10px;
    list-style: none;
    width: 25%;
    cursor: pointer;
    box-sizing: border-box;

    > img {
      max-width: 100%;
    }
  }
}